art==5.2
astroid==2.4.2
async-generator==1.10
attrs==21.2.0
autopep8==1.5.5
awsebcli==3.20.2
beautifulsoup4==4.9.3
botocore==1.21.44
cement==2.8.2
certifi==2020.12.5
cffi==1.15.0
cfscrape==2.1.1
chardet==3.0.4
charset-normalizer==2.0.6
click==7.1.1
colorama==0.4.3
colored==1.4.2
configparser==5.0.2
cryptography==35.0.0
distro==1.5.0
docopt==0.6.2
et-xmlfile==1.0.1
excel2json-3==0.1.6
fire==0.4.0
future==0.16.0
gpsoauth==1.0.0
h11==0.12.0
idna==2.8
isort==5.7.0
jdcal==1.4.1
jmespath==0.10.0
keyring==9.3.1
keyrings.alt==3.2.0
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
MouseInfo==0.1.3
numpy==1.21.0
openpyxl==3.0.6
outcome==1.1.0
pandas==1.2.5
pathspec==0.5.9
pdfminer.six==20200517
pdfplumber==0.5.25
Pillow==8.1.0
pipreqs==0.4.10
PyAutoGUI==0.9.53
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pyicloud==0.10.2
pylint==2.6.0
PyMsgBox==1.0.9
pyOpenSSL==21.0.0
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.28
python-dateutil==2.8.1
pytweening==1.0.4
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
selenium==4.0.0
semantic-version==2.8.5
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.3.0
soupsieve==2.1
tabula-py==2.2.0
termcolor==1.1.0
terminaltables==3.1.0
text2art==0.2.0
toml==0.10.2
tqdm==4.60.0
trio==0.19.0
trio-websocket==0.9.2
tzlocal==2.0.0
urllib3==1.26.6
Wand==0.6.5
wcwidth==0.1.9
wget==3.2
wrapt==1.12.1
wsproto==1.0.0
xlrd==2.0.1
yarg==0.1.9
